
.btn.btn-primary{
    background: yellow;
    border: none;
}

.btn.btn-primary:focus, .btn.btn-primary:active{
    outline: none;
    box-shadow: inset;
}

body.modal-open .intro {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}
