<head>
  <link rel="stylesheet" href="/assets/CSS/navmenu.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
    crossorigin="anonymous"
    />
  <link rel="stylesheet" type="text/css" href="/assets/CSS/rpopup.css" />
  <!-- javascript -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
</head>
<body>

  <!-- Navbar -->
  <div class="menu-wrap">
    <input type="checkbox" class="toggler">
    <div class="hamburger"><div></div></div>
    <div class="menu">
      <div>
        <div>
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="#">SGPA</a></li>
            <li><a href="#">Suggest us something new</a></li>
            <li><a href="#">Devs</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Navbar -->

</body>

<router-outlet></router-outlet>

<!-- footer -->
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">

      <!-- Mail icon -->
      <a id="send_mail" href="mailto: crunchbase.io@gmail.com"><i
          style="font-size:24px;color:blue;" class="fa">&#xf0e0;</i></a>
      <!-- Mail icon -->
  
      <!-- Copyright -->
      <p>&copy;copyright 2021 crunchbase</p>
      <!-- Copyright -->

    </div>

    <!-- Counter -->
    <a id="counter" href="https://www.hitwebcounter.com/" target="_blank">
      <img height="20px"
        src="https://hitwebcounter.com/counter/counter.php?page=7761392&style=0010&nbdigits=3&type=page&initCount=0"
        title="Free Counter" Alt="web counter" border="0" /></a>
    <!-- Counter -->
    
  </div>
</footer>
<!-- footer -->
