footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding:0px;
    background-color: gainsboro;
    background: transparent;
    color: black;
    text-align: center;
}
/* .devs .footer{
    col
} */

a,u
{
    color: black;
    text-decoration: none;
}

