      <!-- Navbar -->
    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/home">Gradify</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sgpa">SGPA</a>
          </li>
        </ul>
      </div>
    </nav> -->
  <head>
    <link rel="stylesheet" href="/assets/CSS/navmenu.css">
  </head>
  <body>
    <div class="menu-wrap">
    <input type="checkbox" class="toggler">
    <div class="hamburger"><div></div></div>
    <div class="menu">
      <div>
        <div>
          <ul>
            <li><a href="/home">Gradify</a></li>
            <li><a href="#">SGPA</a></li>
            <li><a href="#">Suggest us something new</a></li>
            <li><a href="#">Devs</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </body>
  
  <router-outlet></router-outlet>
  <hr>
  <div class="container">
    <footer>
      <p><a href="https://vikasjoshis001.000webhostapp.com/">@vikasjoshis001</a></p>
    </footer>
  </div>