<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
    rel="stylesheet">
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card">
                    <p class="card__name">Vikas</p>
                    <div class="grid-container">
                    </div>
                    <ul class="social-icons">
                      <li><a href="http://www.instagram.com/vikasjoshis001"><i class="fa fa-instagram"></i></a></li>
                      <li><a  href="https://github.com/vikasjoshis001" ><i class="fa fa-github"></i></a></li>
                      <li><a  href="http://www.linkedin.com/in/vikasjoshis001" ><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="http://vikasjoshi.me"><i class="fa fa-globe"></i></a></li>
                    </ul>
                    <p class="card__name">Dhiraj</p>
                    <div class="grid-container">
                    </div>
                    <ul class="social-icons">
                    <li><a href="http://www.instagram.com/Unfixedbug_" ><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://github.com/unfixedbug" ><i class="fa fa-github"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/dhiraj-jadhav-344979199/" ><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="http://dhirajjadhav.me"><i class="fa fa-globe"></i></a></li>
                    </ul>

                  </div>
        </div>
        </div>
  </div>
  
</body>