<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
        rel="stylesheet">
    <meta charset="UTF-8">
</head>
<!-- Head -->

<body>
    <div class="container">
        <!-- <div class="intro"></div> -->

        <!-- Title -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <div >
        <h1 style="text-align: center;">
            <span id="gradify_title" class="pacificofont">Developers</span>
        </h1>
    </div>
        <div><h1>&nbsp;</h1></div>
        <!-- Title -->


        <div class="row">
            <!-- CARD 1 -->
            <div class="col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-text">
                        <div class="portada1">

                        </div>
                        <div class="title-total">
                            <div class="title">Developer</div>
                            <h2>Vikas Joshi</h2>
                            <div class="actions">
                                <a class="btn btn-dark btn-social mx-2"
                                    href="http://www.linkedin.com/in/vikas-joshi-5a791a1b1E">
                                    <i class="fa fa-linkedin"></i></a>
                                <a class="btn btn-dark btn-social mx-2"
                                    href="https://github.com/vikasjoshis001"><i
                                        class="fa fa-github"></i></a>
                                <a class="btn btn-dark btn-social mx-2"
                                    href="http://www.instagram.com/vikasjoshis001">
                                    <i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CARD 1 -->

            <div><h1>&nbsp;</h1></div>

            <!-- CARD 2-->
            <div class="col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-text">
                        <div class="portada2">
                        </div>
                        <div class="title-total">
                            <div class="title">Developer</div>
                            <h2>Dhiraj Jadhav</h2>

                            <div class="actions">
                                <a class="btn btn-dark btn-social mx-2"
                                    href="https://www.linkedin.com/in/dhiraj-jadhav-344979199/">
                                    <i class="fa fa-linkedin"></i></a>
                                <a class="btn btn-dark btn-social mx-2"
                                    href="https://github.com/unfixedbug"><i
                                        class="fa fa-github"></i></a>
                                <a class="btn btn-dark btn-social mx-2"
                                    href="http://www.instagram.com/Unfixedbug_">
                                    <i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CARD 2-->
        </div>
    </div>
</body>