body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  font-family: "Montserrat", sans-serif;
  color: #05103b;
  background: #05103b;
}

.intro {
  height: 100vh;
}

body h1 {
  color: #fff;
  font-family: "Pacifico";
}
body .canvas {
  position: relative;
  margin-top: 40px;
}
body .canvas .circle {
  position: absolute;
  border-radius: 50%;
}
body .canvas .circle:first-child {
  width: 200px;
  height: 200px;
  right: -10%;
  top: -10%;
  background: linear-gradient(125deg, #ff3838 42%, #05103b 100%);
}
body .canvas .circle:last-child {
  width: 130px;
  height: 130px;
  left: -5%;
  bottom: -20%;
  background: linear-gradient(37deg, #ff3838 42%, #05103b 100%);
}
body .canvas .card {
  width: 330px;
  height: 207px;
  display: grid;
  grid: 1fr 1fr 1fr/1fr 1fr;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 10px 20px;
  overflow: hidden;
  box-shadow: 0 0 20px 0 rgba(5, 16, 59, 0.3);
  background: linear-gradient(40deg, transparent 10%, rgba(255, 255, 255, 0.16) 60%, transparent 100%);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1.5px solid rgba(255, 255, 255, 0.08);
}
body .canvas .card .logo {
  width: 60px;
}
body .canvas .card .chip {
  width: 50px;
  justify-self: end;
}
body .canvas .card .text {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  background: linear-gradient(#fff, #686868);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
body .canvas .card .text.number {
  grid-column: 1/3;
  align-self: end;
  font-size: 24px;
  letter-spacing: 2px;
}
body .canvas .card .text.name {
  text-transform: uppercase;
  font-size: 18px;
}
body .canvas .card .text{
  justify-self: end;
  font-size: 20px;
}

.fa-instagram {
  position: absolute;
  top: 3%;
  right: 2%;
  color: #fff;
  font-size: 38px;
  cursor: pointer;
  transition: all 0.1s;
}
.fa-instagram:hover {
  color: #ff3838;
  font-size: 42px;
}