<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
        rel="stylesheet">
    <meta charset="UTF-8">
</head>
<!-- Head -->

<body>
    <div class="intro">
        <h1>Developed by</h1>

    <div class="canvas">
      <div class="circle"></div>
      <div id="card" class="card">
        
        <div class="row">
            <div class="col-md-6 col-md"></div>
        </div>
        <div  class="number text">Vikas</div>

        <div class="name text">Dhiraj</div>
        <div class="actions">
            <a
                href="https://www.linkedin.com/in/dhiraj-jadhav-344979199/">
                <i class="fa fa-linkedin"></i></a>
                <br>
            <a
                href="https://github.com/unfixedbug"><i
                    class="fa fa-github"></i></a>
            <a
                href="http://www.instagram.com/Unfixedbug_">
                <i class="fa fa-instagram"></i></a>
                <a target="_blank" title="instagram/web__addict" href="https://www.instagram.com/web__addict/"><i class="fab fa-instagram"></i></a>
        </div>
        
      </div>
      <div class="circle"></div>
    </div>
    
    <a target="_blank" title="instagram/web__addict" href="https://www.instagram.com/web__addict/"><i class="fab fa-instagram"></i></a>
    <a target="_blank" title="instagram/web__addict" href="https://www.instagram.com/web__addict/"><i class="fab fa-github"></i></a>

    </div>
</body>