<div class="container">

    <br>
    <h3><b><i>Result</i></b></h3><br>

    <form #gradeForm="ngForm" (ngSubmit)="onSubmit(gradeForm)">
        <div *ngIf="show" class="alert alert-info alert-dismissible">
            <a (click)="onClose()" class="close" data-dismiss="alert"
                aria-label="close">&times;</a>
            <strong>Wow!</strong> Your SGPA is {{ sgpa }}
        </div>
        <br>
        <div class="form-group">
            <label for="reg">Registration Number</label>
            <input #reg="ngModel" pattern="\d\d\d\d\w\w\w\d\d\d" required
                type="text" class="form-control"
                id="reg" aria-describedby="reg" placeholder="Enter Your Years Registration Number" ngModel name="reg">
            <span *ngIf="reg.invalid && reg.touched" style="color:red"><b>**Please
                    Enter Your Correct Registration Number</b></span>
        </div>
        <br>
        <label for="sem">Select SEM</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">SEMESTER</label>
            </div>
            <select required name="sem" ngModel class="custom-select"
                id="inputGroupSelect01">
                <!-- <option selected>Choose...</option> -->
                <option *ngFor="let sem of semList" value="{{ sem.sem }}">{{
                    sem.sem }}</option>
            </select>
        </div>
        <button type="submit" [disabled]="gradeForm.invalid" class="btn
            btn-primary">Calculate</button>
    </form>

</div>


<router-outlet></router-outlet>
