<div class="container">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
    </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

    <br>
    <h3><b><i>Result</i></b></h3><br>

    <form #gradeForm="ngForm" (ngSubmit)="onSubmit(gradeForm)">
        <div *ngIf="show" class="alert alert-info alert-dismissible">
            <a (click)="onClose()" class="close" data-dismiss="alert"
                aria-label="close">&times;</a>
            <strong>Wow!</strong> Your SGPA is {{ sgpa }}
        </div>
        <br>
        <div class="form-group">
            <label for="reg">Registration Number</label>
            <input #reg="ngModel" pattern="\d\d\d\d\w\w\w\d\d\d" required
                type="text" class="form-control"
                id="reg" aria-describedby="reg" placeholder="Enter Your Years Registration Number" ngModel name="reg">
            <span *ngIf="reg.invalid && reg.touched" style="color:red"><b>**Please
                    Enter Your Correct Registration Number</b></span>
        </div>
        <br>
        <label for="sem">Select SEM</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">SEMESTER</label>
            </div>
            <select required name="sem" ngModel class="custom-select"
                id="inputGroupSelect01">
                <!-- <option selected>Choose...</option> -->
                <option *ngFor="let sem of semList" value="{{ sem.sem }}">{{
                    sem.sem }}</option>
            </select>
        </div>
        <button type="submit" [disabled]="gradeForm.invalid" class="btn
            btn-primary">Calculate</button>
    </form>

</div>


<router-outlet></router-outlet>
