<!-- Head -->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet">
  </head>
  <!-- Head -->
  
  
  <!-- Body -->
  <body>
    <div class="intro">
  
      <!-- Title -->
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <h1>
        <span id="gradify_title" class="pacificofont">gradify&nbsp;</span>
        <span id="gradify_title" class="straightfont">| CrunchBase</span>
      </h1>
      <!-- Title -->
  
      <!-- Background Video -->
      <video onended="run()" autoplay id="video-bg" oncanplay="this.play()"
        onloadedmetadata="this.muted= true">
        <source src="assets/videos/Solar.mp4" type="video/mp4">
      </video>
      <!-- Background Video -->
  
      <!-- Form -->
      <div class="content">
        <div class="container">
          <br>
          <form #gradeForm="ngForm" (ngSubmit)="onSubmit(gradeForm)">
  
            <!-- Popup Form -->
            <div *ngIf="show_form===false">
              <div id="model_popup" class="fancy">
                <p style="text-align:center;font-size: 22px"><b>Congratulations...</b>
                  <a (click)="onClose()" class="close">&times;</a></p>
                <hr>
                <p id="sgpa" style="text-align:center;font-size: 22px;"><b>{{sgpa}}</b></p><br><hr>
  
                <!-- Initial View full result button -->
                <div *ngIf="pdf_loading;then content else other_content">here is
                  ignored</div>
                <ng-template #other_content>
                  <button id="view_button" (click)="savePdf()" type="button" class="btn
                    btn-outline-primary">View Full Result</button>
                </ng-template>
                <!-- Initial View full result button -->
  
                <!-- After clicking loading button -->
                <ng-template #content>
                  <div class="d-flex justify-content-center">
                    <div class="spinner-border text-success" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
                </ng-template>
                <!-- <p style="color:green;text-align:center;">{{pdf_load_msg}}</p> -->
                <!-- After clicking loading button -->
  
              </div>
            </div>
            <!-- Popup Form -->
  
            <br>
            <!-- Registration Number Input -->
            <div *ngIf="show_form===true">
              <div class="form-group">
                <label id="input_label" style="color:aqua" for="reg">Registration Number</label>
                <input #reg="ngModel" pattern="\d\d\d\d\w\w\w\d\d\d" required
                  type="text" class="form-control"
                  id="reg" onblur="uppercase()" autocomplete="off" aria-describedby="reg" placeholder="Enter Your Registration Number" ngModel name="reg">
                <span id="input_label" *ngIf="reg.invalid && reg.touched"
                  style="color:red"><b>**Please
                    Enter Your Correct Registration Number</b></span>
              </div>
              <!-- Registration Number Input -->
  
              <!-- Select Semester -->
              <label id="input_label" style="color:aqua" for="sem">Select Semester</label>
              <div id="select_semester" class="select" class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">SEMESTER</label>
                </div>
                <select required name="sem" ngModel class="custom-select"
                  id="inputGroupSelect01">
                  <option *ngFor="let sem of semList" value="{{ sem.sem }}">{{
                    sem.sem }}</option>
                </select>
              </div>
              <!-- Select Semester -->
  
              <!-- Submit Button -->
              <div *ngIf="sgpa_loading;then content else other_content">here is
                ignored</div>
  
              <!-- Initial Calculate button -->
              <ng-template #other_content>
                  <button id="submit_button" type="submit" [disabled]="gradeForm.invalid" class="btn btn-outline-info">Calculate</button>
              </ng-template>
              <!-- Initial Calculate button -->
  
              <!-- After clicking loading button -->
              <ng-template #content>
                <button id="submit_button" class="btn btn-info" type="button" disabled>
                  <span class="spinner-border spinner-border-sm" role="status"
                    aria-hidden="true"></span>
                  Loading...
                </button>
              </ng-template>
              <!-- After clicking loading button -->
  
              <!-- Submit Button -->
  
            </div>
          </form>
          
        </div>
      </div>
      <!-- Form -->
      
    </div>
  </body>
  <!-- Body -->
  
  <router-outlet></router-outlet>
  